@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800');

body {
  /* background: #1b1b2b; */
  background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
